Repository freedomcombination/monorepo, pull requests merged in 2023-02, with the labels that each got.

#378 create post from recommended tweet
  libs/ui/src/admin/RecommendedTweetCard/RecommendedSocialButtons.tsx
Labels: admin

#405 added update artTitle
  apps/foundation/pages/club/collections/[slug].tsx
  apps/foundation/public/locales/en/common.json
  apps/foundation/public/locales/nl/common.json
  apps/foundation/public/locales/tr/common.json
  apps/kunsthalte/public/locales/en/common.json
  apps/kunsthalte/public/locales/nl/common.json
  apps/kunsthalte/public/locales/tr/common.json
  libs/ui/src/admin/ArtApprovalModal/ArtApprovalModal.tsx
  libs/ui/src/admin/ArtApprovalModal/ArtFeedbackForm.tsx
  libs/ui/src/admin/ArtApprovalModal/types.ts
  libs/ui/src/admin/DataTables/ArtsTable/ArtsTable.tsx
  libs/ui/src/components/ArtModal/ArtModal.tsx
  libs/ui/src/components/ArtWithDetails/ArtWithDetails.tsx
Labels: admin

#397 Fix Mention list bugs
  libs/store/src/post.ts
  libs/ui/src/post-maker/Mention/MentionList.tsx
Labels: samenvvv

#409 art page added
  libs/ui/src/components/ArtCard/ArtCard.tsx
  libs/ui/src/components/ArtCard/ArtCardBase.tsx
  libs/ui/src/components/ArtCard/types.ts
  libs/ui/src/components/ArtDetail/ArtDetail.tsx
  libs/ui/src/templates/ArtClubTemplate/ArtClubTemplate.tsx
Labels: kunsthalte
