Repository freedomcombination/monorepo, pull requests merged in 2023-03, with the labels that each got.

#456 Bug/art club template filter bug
  libs/services/src/common/search.ts
  libs/ui/src/templates/ArtClubTemplate/ArtClubTemplate.tsx
Labels: kunsthalte

#447 Hashtag anounscements
  .husky/pre-commit
  apps/admin/public/locales/en/common.json
  apps/admin/public/locales/nl/common.json
  apps/admin/public/locales/tr/common.json
  apps/kunsthalte/public/locales/en/common.json
  apps/kunsthalte/public/locales/nl/common.json
  apps/kunsthalte/public/locales/tr/common.json
  apps/samenvvv/components/HashtagAnnouncement/HashtagAnnouncement.tsx
  apps/samenvvv/components/HashtagAnnouncement/index.ts
  apps/samenvvv/components/HashtagAnnouncement/test.js
  apps/samenvvv/components/HashtagAnnouncement/types.tsx
  apps/samenvvv/components/index.ts
  apps/samenvvv/pages/announcements.tsx
  apps/samenvvv/pages/index.tsx
  apps/samenvvv/public/locales/en/common.json
  apps/samenvvv/public/locales/nl/common.json
  apps/samenvvv/public/locales/tr/common.json
  libs/config/src/menu/samenvvv.ts
  libs/ui/src/hooks/useLocaleTimeFormat.tsx
  libs/utils/src/getItemLink.ts
  libs/utils/src/index.ts
  libs/utils/src/mapHashtagToOgParams.ts
  package.json
  public/locales/en/common.json
  public/locales/nl/common.json
  public/locales/tr/common.json
  yarn.lock
Labels: samenvvv

#461 Admin refactor
  apps/admin/pages/posts/[id].tsx
  apps/admin/pages/translates/posts/[id].tsx
  apps/api/src/api/post/content-types/post/schema.json
  libs/types/src/post.ts
  libs/ui/src/components/Caps/Caps.tsx
  libs/ui/src/data/schemas/activity.ts
  libs/ui/src/data/schemas/blogs.ts
  libs/ui/src/data/schemas/post.ts
  libs/ui/src/data/tables/post.tsx
Labels: admin

#467 Feat/translate admin
  apps/admin/pages/activities/index.tsx
  apps/admin/pages/collections/[id].tsx
  apps/admin/pages/timelines/index.tsx
  apps/admin/pages/translates/arts/index.tsx
  apps/admin/public/locales/en/common.json
  apps/admin/public/locales/nl/common.json
  apps/admin/public/locales/tr/common.json
  apps/foundation/public/locales/en/common.json
  apps/foundation/public/locales/nl/common.json
  apps/foundation/public/locales/tr/common.json
  apps/kunsthalte/public/locales/en/common.json
  apps/kunsthalte/public/locales/nl/common.json
  apps/kunsthalte/public/locales/tr/common.json
  apps/samenvvv/public/locales/en/common.json
  apps/samenvvv/public/locales/nl/common.json
  apps/samenvvv/public/locales/tr/common.json
  libs/ui/src/admin/CreateModelButton/CreateModelButton.tsx
  libs/ui/src/admin/DataTables/DataTable.tsx
  libs/ui/src/admin/ModelEditTranslate/ModelEditTranslate.tsx
  libs/ui/src/admin/ModelForm/ModelEditForm.tsx
  libs/ui/src/admin/PageHeader/PageHeader.tsx
  libs/ui/src/components/WConfirm/WConfirm.tsx
  public/locales/en/common.json
  public/locales/nl/common.json
  public/locales/tr/common.json
Labels: admin

#466 platform muzic and kunsthalte
  apps/admin/pages/translates/posts/[id].tsx
  libs/config/src/data/routes.json
  libs/config/src/menu/routes.ts
  libs/config/src/menu/wsvvrijheid.ts
  libs/ui/src/components/ArtModal/ArtModal.tsx
  libs/ui/src/data/schemas/post.ts
  libs/ui/src/data/schemas/translate.ts
Labels: wsvvrijheid

#470 Fix announcementpage
  apps/samenvvv/components/HashtagAnnouncement/HashtagAnnouncement.tsx
  apps/samenvvv/pages/announcements.tsx
  apps/samenvvv/pages/index.tsx
  libs/config/src/theme/fonts.ts
Labels: bug, samenvvv

#477 donation page description updated
  apps/admin/public/locales/tr/common.json
Labels: wsvvrijheid
